* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #75BBFA;
}

div#woman-figure {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: -99;
}
